body {
	background-color: #4B0082;
	font-family: cursive;
	color: #ffffff;
}
.block1 {
	margin-bottom: -25px;
	font-size: 35px;
	text-align: center;
	background-color: #4682B4;
	height: 200px;
	width: 200px;

}
.block2 {
	font-size: 35px;
	text-align: center;
	background-color: #BA55D3;
	height: 193px;
	width: 193px;
}
.block3 {
	font-size: 35px;
	text-align: center;
	background-color: #696969;
	height: 193px;
	width: 193px;
}

.block4 {
	margin-bottom: -25px;
	font-size: 35px;
	text-align: center;
	background-color: #4682B4;
	height: 200px;
	width: 200px;
	border: 10px solid black;

}
.block5 {
	font-size: 35px;
	text-align: center;
	background-color: #BA55D3;
	height: 193px;
	width: 193px;
	position: relative;
	left: 217px;
	border: 15px solid black;
}
.block6 {
	font-size: 35px;
	text-align: center;
	background-color: #696969;
	height: 193px;
	width: 193px;
	position: relative;
	left: 443px;
	border: 15px solid black;
}

.block7 {
	margin-bottom: -25px;
	font-size: 35px;
	text-align: center;
	background-color: #4682B4;
	height: 200px;
	width: 200px;
	position: relative;
	left: 200px;
	top: -233px;
}
.block8 {
	font-size: 35px;
	text-align: center;
	background-color: #BA55D3;
	height: 193px;
	width: 193px;
}
.block9 {
	font-size: 35px;
	text-align: center;
	background-color: #696969;
	height: 193px;
	width: 193px;
	position: relative;
	left: 400px;
	top: -430px;
}
.margin-div {
	margin-top: 15px;
}